@import "../../../../styles/design-system/index.scss";

.journey-step {
  position: var(--pos-jr-relative);
  z-index: var(--z-jr-step);

  &__number {
    width: var(--width-jr-step-number);
    height: var(--height-jr-step-number);
    border-radius: var(--radius-jr-step-number);
    background: var(--bg-jr-step-number);
    display: var(--display-jr-flex);
    align-items: var(--align-jr-center);
    justify-content: var(--justify-jr-center);

    span {
      font-weight: var(--weight-jr-step-number);
      color: var(--color-jr-step-number);
      font-size: var(--size-jr-step-number);
    }
  }
}