// Typography
$font-family-base: var(--font-family-sans);

// Colors
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-white: var(--color-text);
$color-text-primary: var(--color-text);

// Border
$border-radius: 8px;